
<div id="sidebar-wrapper">
    <div class="container-fluid">
        @*<div class="row">
            <div class="col">*@

                @Html.Partial("_PerfilCard")
            @*</div>
        </div>*@
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#">Header list</a></li>
                    <li><a href="/">Home</a> </li>
                    <li><a href="/Home/About">About</a> </li>
                    <li><a href="/Home/Contact">Contact</a> </li>
                </ul>
            </div>
        </div>
    </div>



</div>
        <!-- /#sidebar-wrapper -->
        <!--Perfil Card -->

