<div class="row">
    <!-- Team member -->
    @*<div class="col-xs-12 col-sm-6 col-md-4">*@
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            @*<p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>*@
                            <p><img class=" img-fluid" src="https://avatars3.githubusercontent.com/u/16508215?s=400&u=7402d9bee42f4350a0c46685c26ce5b4d25d8409&v=4" alt="card image"></p>
                            <h4 class="card-title">Adtalem</h4>
                            <p class="card-text">
                                Software Engineer/Senior Systems Analyst in Rio de Janeiro, Brazil.
                            </p>
                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Adtalem</h4>
                            <p class="card-text">I started my career in 2005 when I enrolled in Computer Science at a time that worked in the administrative / financial area and practiced my IT skills with simple page creations in Html and did a bit of everything related to software and hardware.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/frotaadriano/">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://stackoverflow.com/users/7644479/adriano-frota">
                                        <i class="fa fa-stack-overflow"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item" title="adriano-tecnico">
                                    <a class="social-icon text-xs-center" target="_blank" href="">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="https://github.com/frotaadriano">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./Team member -->
@*</div>*@
@*<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>*@