@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This is my ASP.NET MVC with Boostrap 4 Portifolio.
            Welcome and enjoy!
        </p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>I started my career in 2005 when I enrolled in Computer Science at a time that worked in the administrative / financial area and practiced my IT skills with simple page creations in Html and did a bit of everything related to software and hardware.</p>
        <p>
            I started to work in IT in 2008 and I worked in areas of finance in which I was involved in several areas: Collections, Fomento Mercantil / Factoring, FIDC and CDC) and in recent years I have worked in the academic market in one of the largest groups in the world .

            In my experience working with IT, I highlight some attributions such as systems and business analysis, requirements gathering, testing, definition of systems architectures, bank modeling, feasibility studies of systems, integrations between databases and correlates.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pages/Course/News</h2>
        <p>Working on it</p>
        <p>
            Skills and technologies:
            <ul>
                <li>Html 5, Css, Javascript, Jquery, Jquery UI                                                                                                                                                           </li>
                <li>AngularJs, Bootstrap, Ajax                                                                                                                                                                           </li>
                <li>NodeJs, MongoDB                                                                                                                                                                                      </li>
                <li>Microsoft SQL Server 2000, 2005, 2008, 2012, and 2016 (SSIS, DTS, SQL Server Reporting Services)                                                                                                     </li>
                <li>.NET (AspNet, C #, WebForms, Linq, Web Services, WCF, WebAPI, Entity Framework)                                                                                                                      </li>
                <li>.NET MVC (MVC5, MVC6, HtmlHelper, Strongly Typed Views, Partial Views, ViewModel, SimpleMemberShip, DataAnnotations, Cross Site Request Forgery, NHibernate, Dependencies Injections with NInject)   </li>
                <li>Asp Classico, Vb6, Cristal Reports.                                                                                                                                                                  </li>
                <li>Oracle (PL / Sql)                                                                                                                                                                                    </li>
                <li>Java (Jsp, Servlets, Struts, Tomcat)                                                                                                                                                                 </li>
                <li>UML / Visio / SharePoint / Scrum / Team Foundation / GiT / BitBucket / Jira / ConFluence                                                                                                             </li>
            </ul>
        </p>
    </div>
</div>